root/logs/*.log

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.Python
/root/data/img/*
/root/data/cohort.csv
.~lock.*
docs/prompts/notes about LLM API
root/data/temp/*
secretKey.py
root/data/cache.json
root/logs/llm/llm_interactions.log
